.mine{
	display: inline-block;
	border: 1px solid black;
	height: 40px;
	width: 40px;
}
.block{
	display: inline-block;
	border: 1px solid black;
	height: 40px;
	width: 40px;
}
#board{
	margin: 0px auto;
}
